body {
    background: radial-gradient(aliceblue 13%, linen 80%);
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    height: 100vh;
}

.article {
    flex: 9;
    display: flex;
    flex-flow: column;
    max-width: 1400px;
}

.sidebar {
    flex: 2;
    min-width: 125px;
    max-width: 250px;
    padding: 2px;
}

.fork-image {
    max-height: 145px;
    max-width: 145px;
}

.content-container {
    display: flex;
    flex-flow: row;
    min-height: 490px;
}

.badge-side {
    min-width: 350px;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 50px;
}

.badge-side > .row {
    min-height: 220px;
    min-width: 260px;
}

.social-coding-image {
    min-height: 140px;
    max-width: 195px;
}

.content {
    width: 260px;
    height: 150px;
    border:none;
}

.image-side {
    min-width: 350px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

.octopus-image {
    max-height: 352px;
    max-width: 312px;
}

.form-container {
    display: flex;
    justify-content: center;
    border-radius: 22px;
    min-height: 380px;
}

.inputStyle {
    text-align: center;
    width: 70%;
    max-height: 46px;
    max-width: 600px;
    border:1px solid #B5B5B5;
    border-radius: 10px;
    font-size: 22px;
    background-color: #E8E8E8;
    text-decoration: none;
    outline: none;
}

.inputStyle:focus {
    border: 2px solid #B5B5B5;
}

.row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-basis: 50%;
}

.column-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.column-5 {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    flex-basis: 50%;
}

.styleOfIframe {
    border-radius: 10px;
    background: radial-gradient(aliceblue 88%, ghostwhite 12%);
    width: 255px;
    height: 141px;
    border: 1px solid lightgrey;

    padding: 0;
    display: flex;
    flex-direction: row;
}

.svg-wrapper {
    width: 100%;
    max-height: 47px;
    max-width: 45px;
}

.bold-item {
    font-weight: 900;
    font-size: 1.1rem;
    color: black;
}

.text-item {
    font-family: "Times New Roman", sans-serif;
    font-size: 0.9rem;
    color: slategrey;
}

@media only screen and (max-device-width: 768px) {

    .main {
        min-width: 360px;
        min-height: 600px;
        max-height: 600px;
    }

    .sidebar {
        min-width: 0;
    }

    .fork-image{
        max-height: 75px;
        max-width: 75px;
    }

    .article {
        min-width: 360px;
    }

    .content-container {
        padding-top: 30px;
        min-height: 320px;
        max-height: 320px;
    }

    .badge-side {
        min-width: 210px;
        max-width: 210px;
        padding: 0;
    }

    .badge-side > .row {
        min-width: 180px;
        min-height: 160px;
        padding-top: 6px;
        justify-content: flex-end;
    }

    .styleOfIframe {
        max-width: 205px;
        min-width: 205px;
        max-height: 150px;
    }

    .content {
        max-width: 210px;
        max-height: 160px;
    }

    .social-coding-image {
        min-height: 90px;
        max-width: 125px;
        padding-left: 150px;
    }

    .image-side {
        min-width: 150px;
        max-width: 150px;
        min-height: 320px;
        max-height: 320px;
        align-items: flex-end;
    }

    .octopus-image {
        max-width: 150px;
        max-height: 170px;
    }


    .column-1 {
        max-width: 42px;
        min-width: 42px;
    }

    .badge-image{
        max-width: 42px;
        min-width: 42px;
    }

    .column-1 > .row {
        max-width: 35px;
        min-width: 35px;
    }

    .svg-wrapper {
        max-width: 40px;
        min-width: 40px;
    }
    .badge-image {
        max-width: 35px;
        min-width: 35px;
    }

    .bold-item {
        font-size: 0.9rem;
    }

    .text-item {
        font-size: 0.7rem;
    }

    .form-container {
        min-height: 250px;
        max-height: 250px;
        align-items: center;
    }

    .inputStyle {
        width: 85%;
        height: 60px;
    }
}

.badge-image {
    max-height: 47px;
    max-width: 45px;
    border-radius: 7px;
}

.link-tag {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    padding: 2px;
    color:#4c68d7;
}

.last-activity {
    font-family: "Times New Roman", sans-serif;
    font-size: 0.9rem;
    color: black;
}